<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://update.ktpis.com/gateupdate/Jijian/JiJian.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="KtpAcs.WinForm.Jijian.exe" lastver="3.0.0.0" size="1000" />
    <LocalFile path="KtpAcs.Infrastructure.dll" lastver="3.0.0.0" size="1000" />
    <LocalFile path="KtpAcs.KtpApiService.dll" lastver="3.0.0.0" size="1000" />
    <LocalFile path="KtpAcs.PanelApi.Yushi.dll" lastver="3.0.0.0" size="1000" />
    <LocalFile path="update.config" lastver="3.0.0.0" size="1000" />
  </UpdateFileList>
</Config>