<Params>
  <ConfigCmd>SetCardCfg</ConfigCmd>
  <ConfigParam1>123456789123456789</ConfigParam1>
  <ConfigParam2>1</ConfigParam2>
  <ConfigParam3>0</ConfigParam3>
  <ConfigParam4>0</ConfigParam4>
  <ConfigXML>
    <CardCfg>
      <valid>1</valid>
      <cardType>1</cardType>
      <leaderCardEnabled>1</leaderCardEnabled>
      <validTimeEnabled>1</validTimeEnabled>
      <ValidTime>
        <startTime>2017-01-01T00:00:00</startTime>
        <endTime>2021-01-01T00:00:00</endTime>
      </ValidTime>
      <password>MTIzNDU=</password>
      <maxSwipeTime>0</maxSwipeTime>
      <swipeTime>10</swipeTime>
      <groupNo>1</groupNo>
      <name>刘福建</name>
      <schedulePlanNo>
        12345
      </schedulePlanNo>
      <schedulePlanType>
        1
      </schedulePlanType>
    </CardCfg>
  </ConfigXML>
</Params>


<SetFaceParamCfg version="2.0" xmlns="http://www.isapi.org/ver20/XMLSchema">
  <cardNo>123456789123456789</cardNo>
  <cardReaderNo>1</cardReaderNo>
  <facePicUrl>http://192.168.11.19:10002/kms/services/rest/dataInfoService/downloadFile?id=5F57D1C7BBD09BD123BB374133AC1674</facePicUrl>
  <faceID>1</faceID>
  <faceDataType>1</faceDataType>
</SetFaceParamCfg>
